@charset "UTF-8";
@use "mixin" as m;
html{
    font-size: 62.5%;
    line-height: 1.15;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
body{
    font-family: "Noto Sans JP",sans-serif;
    color: #121212;
    font-size: 1rem;
    line-height: 1.7;
    @include m.mq(sp){
        font-size: 1.6rem;
    }
}
// .home::-webkit-scrollbar{
//     display: none;
// }

// ヘッダー
.page-header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
    @include m.mq(tab){
        height: 50px;
        // flex-direction: column;
    }

}
// ヘッダー左側
.header-title{
    height: 70px;
    @include m.mq(tab){
        height: 50px;
    }
    a{
        display: flex;
        align-content: center;
        align-items: center;
        height: 50px;
        margin-left: 10px;
        @include m.mq(pc){
            height: 70px;
            margin-left: 21px;
        }
    }
    a img{
        height: 30px;
        @include m.mq(pc){
        height: 33px;
        // width: auto;
        }
    }
    p{
        margin-left: 16px;
        font-size: 1.4rem;
        font-weight:900;
        color: #121212;
        line-height: 1.3;
        @include m.mq(pc1280){
            display: none;
        }
    }
    span{
        font-size: 1.8rem;
    }
}

// ヘッダー右側
.header-nav li{
    position: relative;
    white-space: nowrap;
}
.header-nav{
    display: flex;
    list-style: none;
    @include m.mq(tab){
        flex-direction: column;
        .menu-right{
            display: none;
        }
    }
    a{
        display: flex;
        color: #121212;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 0 15px;
        height: 70px;
        align-items: center;
        transition: padding 0.3s;
        @include m.mq(tab){
            height: 50px;
        }
        @include m.mq(pc1260){
            padding: 0 10px;
        }
        @include m.mq(tab){
            padding: 10px;
            height: auto;
        }
    }
}

@include m.mq(tab){
    .nav-menu{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #FFF;
    }
    .nav_btn{
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        span{
            content: "";
            width: 23px;
            height: 2px;
            background: #2498B3;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            &::before,&::after{
                content: "";
                width: 23px;
                height: 2px;
                background: #2498B3;
                position: absolute;
            }
            &::before{
                transform: translateY(-9px);
            }
            &::after{
                transform: translateY(9px);
            }
        }
    }
}

.first-nav{
    &:hover{
        background-color: #D4F1F8;
    }
    @include m.mq(tab){
        position: relative;
        &::before,&::after{
            content: "";
            width: 23px;
            height: 2px;
            background: #121212;
            position: absolute;
            top:23px;
            right: 13px;
        }
        &::after{
            transform: rotate(90deg);
        }
    }
}
.menu-right{
    background-color: #2498B3;
    a{
        color: #FFFFFF;
    }
}

.sub-menu{
    display: none;
    background-color:#E9F8FB;
    position: absolute;
    @include m.mq(tab){
        position: static;
        background-color: #FFF;
    }
    li{
        list-style: none;
        a{
            position: relative;
            font-weight: normal;
            padding: 15px 60px 15px 15px;
            height: auto;
            @include m.mq(tab){
                padding: 10px 10px 10px 25px;
            }
        }
        & :hover{
            color: #2498B3;
            background-color: #FFF;
            @include m.mq(tab){
                background-color: #e9f8fb;
                color: #121212;
            }
        }
    }
}
// .ac-menu{
//     width: 50px;
//     height: 50px;
//     @include m.mq(pc){
//         display: none;
//     }
//     &_btn{
        
//         border: solid #2498B3;
//         width: 23px;
//         height: 1px;
//         border-width: thin;
//         position: relative;
//         top:50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         &::before,&::after{
//             content: "";
//             width: 23px;
//             height: 2px;
//             background: #2498B3;
//             position: absolute;
//         }
//         &::before{
//             transform: translate(-1px,-10px);
//             // transform: translateX(1px);
//         }
//         &::after{
//             transform: translate(-1px,8px);
//         }
//     }
// }


.page-main{
    padding-top: 70px;
    @include m.mq(tab){
        padding-top: 50px;
    }
    
}

.topHead{
    // 画像
        position: relative;
        height: 650px;
        overflow: hidden;
        background: transparent url(/img/bg-hero3.webp) no-repeat center center fixed;
        background-size: cover;
        // background-attachment: fixed;
        // background-position: center;
        @include m.mq(sp){
            height: 320px;
            background-position: center -25px;
        }

        &_layer1{
            display: flex;
            align-items: flex-start;
            background: transparent url(/img/bg-hero1.webp) no-repeat center center;
            z-index: 200;
            justify-content: center;
            padding-top: 80px;
            @include m.mq(sp){
                background-size:cover ;
                background-position: center -30px;
                align-items: flex-end;
            }
        }
        &_layer{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }
        &_layer2{
            background: transparent url(/img/bg-hero2.webp) no-repeat center center;
            z-index: 100;
            @include m.mq(sp){
                background-size:cover ;
                background-position: center -25px;
            }
        }

    // 中央RaiseTec
    &_body{
        max-width: 530px;
        border-radius: 10px;
        background-color: #FFF;
        padding: 43px 40px 19px 40px;
        text-align: center;
        @include m.mq(sp){
            max-width: 767px;
            width: 100%;
            padding: 9px 0 13px;
            border-radius: 0;
        }
        p{
            font-size: 1.6rem;
            font-weight: 700;
            margin: 1.3em 0 0.5em;
            @include m.mq(sp){
                font-size: 1.3rem;
                margin: 0.5em 0;
            }
        }
    }
    &_title{
        margin-top: 0;
        margin-bottom: 0.5rem;
        img{
            width: 280px;
            height: auto;
            vertical-align: middle;
            @include m.mq(sp){
                display:none;
            }
        }
    }
    &_btn{
        border: solid 1px #2498B3;
        background-color: #2498B3;
        border-radius: 4px;
        display:inline-block;
        line-height: 1;
        a{
            color: #FFF;
            font-size: 1.8rem;
            display: block;
            padding: 24px 37px;
            transition:padding-top 0.5s;
            @include m.mq(sp){
                font-size: 1.6rem;
                padding: 12px 18px;
            }
        }
    }
}

.back-black{
    background-color: #121212;
    padding: 6.4em 0;
    @include m.mq(sp){
        padding: 4em 0;
    }
}

.content-zone{
    max-width: 1078px;
    margin: 0 auto;
    @include m.mq(tab1078){
        margin: 0 10px;
    }
    
}
.content{
    &_main{
        display: flex;
        position: relative;
        justify-content: center;
        z-index: 300;
        margin-top: -263px;
        @include m.mq(sp){
            margin-top: 0;
            flex-direction: column;
            align-items: center;
        }
    }
    &_item{
        margin: 0 50px;
        width: 229px;
        @include m.mq(tab1078){
            margin: 0 2%;
            width: 29.33%;
        }
        @include m.mq(sp){
            width: auto;
            margin-bottom: 2.5em;
        }
    }
    &_title{   
        p{
            color: #FFF;
            font-weight: bold;
            font-size: 2.4rem;
            text-align: center;
            margin-top: 0.2em;
        }
    }
    &_body{
        p{
            color: #FFF;
            font-size: 1.6rem;
            font-weight: bold;
            text-align: left;
            margin-top: 0.5em;
            // @include m.mq(sp){
            //     text-align: center;
            // }
        }
    }
}
// 中央の〇部分
// FontAwesomeアイコン部分
.fa-solid{
    font-size: 100px;
}

.icon{
    border: solid 6px#121212;
    background-color: #FFF;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    position: relative; 
    margin: 0 auto;
    i{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}